nextjs-portal {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "__Inter_aaf875", "__Inter_Fallback_aaf875";
    background-color: black;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#page {
    overflow-x: hidden;
    overflow-y: hidden;
}

.header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    filter: brightness(50%);
}

.header-container {
    position: absolute;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
}

.title {
    font-size: 7em;
    color: white;
    margin: 0.5em;
}

.mobile-title {
    font-size: 3em;
    color: white;
    margin: 0.5em;
}

.arrow {
    width: 5em;
    margin-top: 50em;
    margin-bottom: auto;
    animation: MoveUpDown 2s linear infinite;
    position: relative;
}

.mobile-arrow {
    width: 5em;
    margin-top: 42.5em;
    margin-bottom: auto;
    animation: MoveUpDown 2s linear infinite;
    position: relative;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 2em;
    }
}

.join {
    display: inline-block;
    background-color: #ffffff;
    color: #333333;
    height: 3em;
    width: 11em;
    margin-top: 0.4em;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid #333333;
    text-decoration: none;
    font-size: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.join:hover {
    background-color: #333333;
    color: #ffffff;
}

.join2,
.join2 *,
.join2 :after,
.join2 :before,
.join2:after,
.join2:before {
    border: 0 solid;
    box-sizing: border-box;
}

.join2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 900;
    height: 4.5em;
    width: 17em;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}

.join2:disabled {
    cursor: default;
}

.join2:-moz-focusring {
    outline: auto;
}

.join2 [hidden] {
    display: none;
}

.join2 {
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 7.5em;
    padding: 0.8rem 3rem;
    position: relative;
    white-space: nowrap;
}

.sidebar-join2 {
    margin-left: -0.5em;
    padding: 0;
    height: 3.5em;
    width: 10em;
}

.join2 span {
    mix-blend-mode: difference;
    font-size: 125%;
    margin-left: -0.5em;
}

.join2:after,
.join2:before {
    background: linear-gradient(
        90deg,
        #fff 25%,
        transparent 0,
        transparent 50%,
        #fff 0,
        #fff 75%,
        transparent 0
    );
    content: "";
    inset: 0;
    position: absolute;
    transform: translateY(var(--progress, 100%));
    transition: transform 0.2s ease;
}

.join2:after {
    --progress: -100%;
    background: linear-gradient(
        90deg,
        transparent 0,
        transparent 25%,
        #fff 0,
        #fff 50%,
        transparent 0,
        transparent 75%,
        #fff 0
    );
    z-index: -1;
}

.join2:hover:after,
.join2:hover:before {
    --progress: 0;
}

.introduce {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 0.3em;
    font-size: 5em;
    color: #0064ff;
}

.mobile-introduce {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 0.3em;
    font-size: 3em;
    color: #0064ff;
}

.instagram-introduce {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 5em;
    color: #0064ff;
}

.mobile-instagram-introduce {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    color: #0064ff;
}

.checklist-introduce {
    text-align: center;
    margin-top: 1em;
    font-size: 4em;
    color: white;
}

.mobile-checklist-introduce {
    text-align: center;
    margin-top: 1.25em;
    font-size: 2.25em;
    color: white;
}

.checklist-list {
    text-align: center;
    margin-top: -0.5em;
    margin-bottom: -0.25em;
    font-size: 3em;
    color: #0064ff;
}

.mobile-checklist-list {
    text-align: center;
    margin-top: -0.5em;
    margin-bottom: -0.25em;
    font-size: 1.75em;
    color: #0064ff;
}

.mobile-instagram-introduce {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 3.5em;
    color: #0064ff;
}

.about-title {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: grey;
}

.mobile-about-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: grey;
}

.about-text {
    text-align: left;
    margin-left: 5em;
    margin-bottom: 2em;
    font-size: 1.5em;
    color: #c3c3c6;
}

.mobile-about-text {
    text-align: left;
    margin-left: 1em;
    margin-bottom: 2em;
    font-size: 1.5em;
    color: #c3c3c6;
}

.explain-container {
    display: flex;
    justify-content: space-evenly;
}

.mobile-explain-container {
    text-align: center;
}

.explain-img {
    height: 30em;
    width: auto;
}

.mobile-explain-img {
    height: 20em;
    width: auto;
}

.explain-text {
    font-size: 2.5em;
    font-weight: bold;
}

.mobile-explain-text {
    font-size: 1.5em;
    font-weight: bold;
}

.white {
    color: white;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
}

.mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    justify-content: center;
    margin-bottom: -7.5em;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 3em;
    width: 11em;
    gap: 30px;
    background-color: #1c1c1c;
    box-shadow: 0px 2px 4px rbga(0, 0, 0, 0, 3);
    border-radius: 16px;
    margin: 10px;
    padding: 24px;
}

.mobile-card-container {
    display: flex;
    flex-direction: column;
    height: 3em;
    width: 9em;
    gap: 30px;
    background-color: #1c1c1c;
    box-shadow: 0px 2px 4px rbga(0, 0, 0, 0, 3);
    border-radius: 16px;
    margin: 10px;
    padding: 24px;
}

.profile {
    height: 7em;
    width: 15em;
}

.no-deco {
    text-decoration: none;
}

.card-img {
    height: 80px;
    width: auto;
}

.card-title {
    font-size: 37px;
    color: white;
}

.card-text {
    text-align: left;
    font-size: 22px;
    color: grey;
}

.card-footer {
    font-size: 17px;
    color: white;
}

.spec {
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.card-title:hover {
    color: #0064ff;
}

.spec2,
.spec3 {
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.click-explain {
    margin-top: -2em;
    margin-bottom: 2em;
    color: white;
}

.mobile-click-explain {
    margin-top: -1em;
    margin-bottom: 2em;
    color: white;
}

.click-explain2 {
    margin-bottom: 2em;
    color: white;
}

.portfolio {
    height: 50px;
    width: 50px;
    margin-left: 30%;
    padding-right: 20px;
}

.about-button {
    display: flex;
    justify-content: center;
}

.margin {
    margin: 20px;
}

.blank {
    margin-top: 4em;
}

.add-insta {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
}

.learn-more {
    background: #5e5df0;
    border-radius: 999px;
    box-shadow: #5e5df0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.learn-more:hover {
    background-color: #0064ff;
}

p {
    text-align: center;
    font-size: 25px;
    color: grey;
}

a {
    text-decoration: none;
}

.center {
    margin-top: 20em;
    text-align: center;
}

.column-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5em;
}

.banner {
    height: 40%;
    width: 40%;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.mobile-banner {
    display: block;
    margin-top: 10em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    height: 15em;
    width: auto;
}

#footer {
    margin-top: -5em;
}
